.modalContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(19, 18, 18, 0.95);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.modal {
    width: 100%;
    height: 30%;
    bottom: 0;
    background-color: rgb(97, 97, 97);
    position: absolute;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

.modal::-webkit-scrollbar {
    width: 12px;
  }
  
.modal::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
.modal::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
    border: 3px solid #f1f1f1;
}
  
.parent{
    height: 100%;
}

.exit{
    margin-left: 90vw;
}

.tempDayContainer{
    color: white;
    height: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 0.1rem solid white;
    font-size: 2.5rem;
}

.alongTheDayContainer{
    height: 65%;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    
}
.alongDay{
    padding: 0.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: (calc(100% / 8));
    flex-shrink: 0;
}

.tempAlongDay{
    color: white;
    font-weight: 700;
    font-size: 1rem;
}

.tempMaxMinAlongDay{
    color: rgb(192, 190, 190);
    font-size: 0.8rem;
}

.imgTemp{
    height: 2rem;
}