*{
    padding: 0;
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background-color: rgb(10, 12, 44);
    height: 100vh;
    overflow-y: hidden;
}


.title{
    text-align: center;
    margin-top: 2vh;
    font-size: 2rem;
    color: rgb(255, 255, 255);
}

.search{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10vh;
}

.city-input{
    height: 2rem;
    padding: 0.5rem;
    width: 10rem;
    border-radius: 0.5rem;
    margin-right: 5vw;
}

.btnSearch{
    cursor: pointer;
    background:white;
    border-radius: 1rem;
    min-height: 7vh;
    min-width: 3rem;
}

.week{
    text-align: center;
    color: rgb(255, 255, 255);
    margin-top: 5vh;
    font-size: 2rem;
}

.containerDays{
    margin-top: 2vh;

}

.days{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    align-items: center;
    
    
}
.day{    
    font-size: 1.3rem;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.tempMax{
    color: red;
}

.tempMin{
    color: blue;
}

.imageTemp{
    height: 3rem;
}
